* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.u-margin-bottom {
  margin-bottom: 1rem; }

.u-padding-left {
  padding-left: 10rem; }

.u-padding-right {
  padding-right: 10rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-primary {
  font-size: 9rem;
  font-weight: 900;
  color: #e7e7e7;
  text-transform: uppercase; }

.btn {
  width: 315px;
  height: 80px;
  background-color: #614ea3;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  cursor: pointer; }

.plus-box {
  position: absolute;
  z-index: 1; }
  .plus-box__sign {
    font-size: 3rem;
    color: #5e42b0; }
  .plus-box__sign--light {
    opacity: .4;
    position: absolute; }
  .plus-box__sign--dark {
    position: absolute; }

.slash {
  height: .5rem;
  transform: rotate(126deg);
  position: absolute;
  z-index: 1; }

header {
  width: 100%;
  height: 96rem;
  background-image: url(../img/header-background.png);
  background-size: cover;
  background-position: top center;
  background-color: #171638;
  color: #fff;
  text-transform: uppercase;
  padding: 5rem 12rem 0; }
  header .logo-box {
    margin-bottom: 30.5rem; }
    header .logo-box__img {
      width: 19rem;
      height: 3rem; }
    header .logo-box__info {
      font-size: 1.4rem;
      float: right;
      line-height: 3rem;
      letter-spacing: 1.5px; }
  header .heading-box {
    font-size: 3.7rem;
    font-weight: bold;
    letter-spacing: .5rem;
    position: relative; }
    header .heading-box::after {
      content: "";
      display: table;
      clear: both; }
    header .heading-box .slash {
      width: 35rem;
      background-color: #614ea3;
      left: 20.4%;
      top: 42%; }
    header .heading-box .text--left {
      position: relative;
      z-index: 2; }
    header .heading-box .text--right {
      float: right; }
  header .navigation {
    width: 100%;
    padding: .5rem 0; }
    header .navigation::after {
      content: "";
      display: table;
      clear: both; }
    header .navigation-menu {
      list-style: none;
      float: right; }
      header .navigation-menu__item {
        display: inline-block; }
        header .navigation-menu__item:not(:last-child) {
          padding-right: 3.5rem; }
        header .navigation-menu__item a {
          text-decoration: none;
          color: inherit;
          font-size: 1.4rem;
          color: #614ea3; }
          header .navigation-menu__item a:hover {
            color: #fff; }
  header .btn-group {
    text-align: center;
    letter-spacing: 1.5px; }
    header .btn-group .btn-download {
      text-align: left;
      padding: 0 5rem;
      margin-top: 17.5rem; }
      header .btn-group .btn-download:not(:last-child) {
        margin-right: 5rem; }
      header .btn-group .btn-download .store-icon {
        display: inline-block;
        margin-right: 3rem; }
      header .btn-group .btn-download .btn-text {
        display: inline-block; }
        header .btn-group .btn-download .btn-text .store-name {
          display: block;
          font-weight: 600; }

.section-one .slash {
  width: 75rem;
  background-color: #9172e6;
  left: 4.3%;
  top: 48%; }

.section-one .section-athletes {
  position: relative; }
  .section-one .section-athletes .plus-box {
    top: 20%;
    left: 18%; }
    .section-one .section-athletes .plus-box__sign--dark {
      top: .8rem;
      left: 2rem; }
  .section-one .section-athletes .section-img {
    width: 58.7rem;
    height: 95.2rem;
    position: absolute;
    top: 12.8%;
    left: 11%;
    z-index: 1; }

.section-one .section-players {
  position: relative; }
  .section-one .section-players .slash-one {
    width: 40rem;
    background-color: #9172e6;
    left: 43%;
    top: 60%; }
  .section-one .section-players .slash-two {
    width: 40rem;
    background-color: #9172e6;
    left: 70%;
    top: 20%; }
  .section-one .section-players .plus-box {
    top: 10%;
    left: 53%; }
    .section-one .section-players .plus-box__sign--light {
      top: 1.5rem;
      left: 2.5rem; }
  .section-one .section-players .plus-box-two {
    top: 40%;
    left: 80%; }
  .section-one .section-players .section-img {
    width: 90rem;
    height: 80rem;
    position: absolute;
    top: -3%;
    right: 5%;
    z-index: 1; }

.section-one .section-box {
  width: 100%;
  height: 23rem;
  position: relative; }
  .section-one .section-box::after {
    content: "";
    display: table;
    clear: both; }
  .section-one .section-box__background--grey {
    background-color: #f6f4fa; }
  .section-one .section-box__background--violet {
    background-color: #5e42b0; }
  .section-one .section-box__background--violet-dark {
    background-color: #0a0e34; }
  .section-one .section-box .position-right {
    right: 0; }
  .section-one .section-box .section-sub {
    width: 45%;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .section-one .section-box .section-sub .section__heading {
      padding-top: 6rem;
      letter-spacing: .5rem; }
    .section-one .section-box .section-sub .heading-box {
      position: relative; }
      .section-one .section-box .section-sub .heading-box__number {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 900;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        .section-one .section-box .section-sub .heading-box__number-text--violet {
          color: #9172e6; }
      .section-one .section-box .section-sub .heading-box__underline--violet::after {
        content: "";
        float: left;
        background: #5e42b0;
        width: 100%;
        height: .5rem;
        border-radius: 3px; }
      .section-one .section-box .section-sub .heading-box__underline--white::after {
        content: "";
        float: left;
        background: #fff;
        width: 100%;
        height: .5rem;
        border-radius: 3px; }
      .section-one .section-box .section-sub .heading-box__text {
        display: inline-block;
        font-size: 3.6rem;
        text-transform: uppercase;
        color: #c1c1c1;
        padding: 0 3rem; }
    .section-one .section-box .section-sub .content-box__content {
      font-size: 2rem; }
      .section-one .section-box .section-sub .content-box__content--white {
        color: #fff; }
