$color-primary: #121834;

$color-white: #fff;

$color-violet: #614ea3;
$color-violet-2: #5e42b0;

$color-violet-light: #9172e6;
$color-violet-light-2: #8f7bc8;
$color-violet-light-3: #a496ca;

$color-violet-dark: #171638;
$color-violet-dark-2: #0a0e34;
$color-violet-dark-3: #13163b;

$color-grey: #f6f4fa;
$color-grey-2: #e7e7e7;
$color-grey-3: #c1c1c1;

