.footer {
	width: 100%;
	height: 96rem;
	padding-top: 23rem;
	position: relative;

	@include background($background-image: '../img/footer-background.png');

	@include respond(tab-port) {
		padding-top: 12rem;
	}

	.download {
		.heading-block {
			display: flex;
			justify-content: center;
			position: relative;
			z-index: 2;

			@include respond(tab-port) {
				display: block;
				text-align: center;
			}
		}

		&__logo {
			float: left;
			margin-right: 1rem;

			@include respond(tab-port) {
				float: none;
				margin-bottom: 5rem;
			}
		}

		.btn-group {
			margin-top: 14rem;
		}
	}

	.bottom-block {
		width: 100%;
		height: 16rem;
		padding: 0 4rem;
		background-color: rgba($color-violet-dark-3, 0.7);
		color: $color-white;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(tab-port) {
			height: 10rem;
		}

		&-sub {
			flex: 1 1 0;
		}

		.logo-box,
		.media,
		.policy {
			display: inline-block;
		}

		.logo-box {
			&__img{
				@include respond(tab-port) {
					display: none;
				}
			}
		}

		.media {
			text-align: center;

			&-link{
				&:not(:last-child) {
					margin-right: 2rem;
				}

				&__icon {
					font-size: 2rem;
				}
			}
		}

		.policy {
			text-align: right;
			font-size: 2rem;
			text-transform: capitalize;

			a, span{
				@include respond(tab-port) {
					display: none;
				}
			}
		}
	}
	.slash{

		&-one{
			@include slash($width: 18rem, $top: 38%, $left: 33.5%, $color: $color-violet-light);
			z-index: -9;

			@include respond(tab-port) {
				@include slash($width: 18rem, $top: 84%, $left: 15%, $color: $color-violet-light);
				z-index: -9;
			}
		}
		&-two{
			@include slash($width: 35rem, $top: 37%, $left: 51%, $color: $color-violet-light);
			z-index: -9;

			@include respond(tab-port) {
				@include slash($width: 35rem, $top: 83%, $left: 42.5%, $color: $color-violet-light);
				z-index: -9;
			}
		}
	}
}
