header {
	width: 100%;
	height: 96rem;
	color: $color-white;
	text-transform: uppercase;
	padding: 5rem 12rem 0;
	position: relative;

	@include respond(tab-port) {
		padding: 5rem 2rem 0;
		background-position: top -10%;
	}

	@include background($background-image: '../img/header-background.png');

	.logo-box {
		margin-bottom: 30.5rem;

		@include respond(tab-port) {
			margin-bottom: 19rem;
		}

		@include respond(phone) {
			text-align: center;
		}

		&__info {
			font-size: 1.4rem;
			float: right;
			line-height: 3rem;
			letter-spacing: 1.5px;

			@include respond(phone) {
				display: none;
			}
		}
	}

	.heading-box {
		font-size: 3.7rem;
		font-weight: bold;
		letter-spacing: .5rem;
		position: relative;

		@include clearfix;

		@include respond(phone) {
			font-size: 2.5rem;
		}

		.slash {
			@include slash($width: 35rem, $top: 42%, $left: 20.4%, $color: $color-violet);

			@include respond(tab-port) {
				@include slash($width: 40rem, $top: 49%, $left: 24.4%, $color: $color-violet);
			}

			@include respond(phone) {
				@include slash($width: 40rem, $top: 49%, $left: 4.4%, $color: $color-violet);
			}
		}

		.text--left {
			position: relative;
			z-index: 2;

			@include respond(tab-port) {
				padding-left: 6rem;
			}

			@include respond(phone) {
				padding-left: 0;
				margin-bottom: 2.5rem;
			}
		}

		.text--right {
			float: right;

			@include respond(tab-port) {
				padding-left: 18rem;
				float: none;
				position: relative;
				z-index: 2;
			}

			@include respond(phone) {
				padding-left: 8rem;
			}
		}
	}

	.navigation {
		width: 100%;
		padding: .5rem 0;

		@include clearfix;

		@include respond(tab-port) {
			margin-top: 10rem;
		}

		@include respond(phone) {
			//margin-left: 3rem;
			position: absolute;
			bottom: 8%;
		}

		&-menu {
			list-style: none;
			float: right;

			@include respond(tab-port) {
				float: none;
				text-align: center;
			}

			&__item {
				display: inline-block;

				&:not(:last-child) {
					padding-right: 3.5rem;
				}

				@include respond(tab-port) {
					&:not(:last-child) {
						padding-right: 12rem;
					}
				}

				@include respond(tab-port) {
					&:not(:last-child) {
						padding-right: 5rem;
					}
				}

				a {
					text-decoration: none;
					font-size: 1.4rem;
					font-weight: 600;
					color: $color-violet;

					@include respond(phone) {
						font-size: 2rem;
						line-height: 2;
					}

					&:hover {
						color: $color-white;
					}
				}
			}
		}
	}

	.btn-group {
		@include respond(phone) {
			position: absolute;
			bottom: 22%;
		}
		.btn-download {
			margin-top: 17.5rem;

			@include respond(tab-port) {
				margin-top: 9rem;
			}

			@include respond(phone) {
				margin-top: 5rem;
			}
		}
	}
}
