header {
	width: 100%;
	height: 96rem;
	background-image: url(../img/header-background.png);
	background-size: cover;
	background-position: top center;
	background-color: rgba($color-violet-dark, 1);
	color: $color-white;
	text-transform: uppercase;
	padding: 5rem 12rem 0;

	.logo-box {
		margin-bottom: 30.5rem;
		&__img {
			width: 19rem;
			height: 3rem;
		}

		&__info {
			font-size: 1.4rem;
			float: right;
			line-height: 3rem;
			letter-spacing: 1.5px;
		}
	}

	.heading-box {
		font-size: 3.7rem;
		font-weight: bold;
		letter-spacing: .5rem;
		position: relative;

		@include clearfix

		.text--left{
			position: relative;
			z-index: 2;
		}
		.text--right{
			float: right;
		}
	}

	.navigation {
		width: 100%;
		padding: .5rem 0;

		@include clearfix;

		&-menu {
			list-style: none;
			float: right;
			&__item {
				display: inline-block;

				&:not(:last-child){
					padding-right: 3.5rem;
				}
				a {
					text-decoration: none;
					color: inherit;
					font-size: 1.4rem;
					color: $color-violet;

					&:hover {
						color: $color-white;
					}
				}
			}
		}
	}
	.btn-group{
		text-align: center;
		letter-spacing: 1.5px;

		.btn-download{
			text-align: left;
			padding: 0 5rem;
			margin-top: 17.5rem;

			&:not(:last-child){
				margin-right: 5rem;
			}

			.store-icon{
				display: inline-block;
				margin-right: 3rem;
			}

			.btn-text{
				display: inline-block;

				.store-name{
					display: block;
					font-weight: 600;
				}
			}
		}
	}
}
