.plus-box{
	position: absolute;
	z-index: 1;

	&__sign{
		font-size: 3rem;
		color: $color-violet-2;
	}

	&__sign--light{
		opacity: .4;
		position: absolute;
	}

	&__sign--dark{
		position: absolute;
	}
}
