*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	// this defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

	@include respond(tab-port) { //width < 768px?
		font-size: 50%;	//1rem = 8px; 8/16 = 50%
	}
	@include respond(phone) { //width < 320px?
		font-size: 43.75%;	//1rem = 7px; 7/16 =
	}
}

body {
	box-sizing: border-box;
}
