body{
	font-family: "Lato", sans-serif;
	font-weight: 400;
}

.heading-primary{
	font-size: 7rem;
	font-weight: 900;
	color: $color-grey-2;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.heading-sub{
	font-size: 3rem;
	font-weight: 900;
	color: $color-violet-light-3;
	text-transform: uppercase;
}

a, a:link, a:visited, a:active{
	color: $color-white;
	text-decoration: none;
}
