.section-one {
	.slash {
		@include slash($width: 75rem, $top: 48%, $left: 4.3%, $color: $color-violet-light);
	}

	.section-athletes {
		position: relative;

		.plus-box {
			top: 20%;
			left: 18%;

			&__sign--dark {
				top: .8rem;
				left: 2rem;
			}
		}

		.section-img {
			width: 58.7rem;
			height: 95.2rem;
			position: absolute;
			top: 12.8%;
			left: 11%;
			z-index: 1;
		}
	}

	.section-players {
		position: relative;

		.slash-one {
			@include slash($width: 40rem, $top: 60%, $left: 43%, $color: $color-violet-light);
		}

		.slash-two {
			@include slash($width: 40rem, $top: 20%, $left: 70%, $color: $color-violet-light);
		}

		.plus-box {
			top: 10%;
			left: 53%;

			&__sign--light {
				top: 1.5rem;
				left: 2.5rem;
			}
		}

		.plus-box-two {
			top: 40%;
			left: 80%;
		}

		.section-img {
			width: 90rem;
			height: 80rem;
			position: absolute;
			top: -3%;
			right: 5%;
			z-index: 1;
		}
	}

	.section-box {
		width: 100%;
		height: 23rem;
		position: relative;

		@include clearfix;

		&__background--grey {
			background-color: $color-grey;
		}

		&__background--violet {
			background-color: $color-violet-2;
		}

		&__background--violet-dark {
			background-color: $color-violet-dark-2;
		}

		.position-right {
			right: 0;
		}

		.section-sub {
			width: 45%;
			line-height: 1.5;

			@include verticalCenter;

			.section__heading {
				padding-top: 6rem;
				letter-spacing: .5rem;
			}

			.heading-box {
				position: relative;

				&__number {
					display: inline-block;
					font-size: 1.8rem;
					font-weight: 900;

					@include verticalCenter;

					&-text--violet {
						color: $color-violet-light;
					}
				}

				&__underline--violet {
					@include underline($color: $color-violet-2);
				}

				&__underline--white {
					@include underline($color: $color-white);
				}

				&__text {
					display: inline-block;
					font-size: 3.6rem;
					text-transform: uppercase;
					color: $color-grey-3;
					padding: 0 3rem;
				}
			}

			.content-box {

				&__content {
					font-size: 2rem;

					&--white {
						color: $color-white;
					}
				}
			}
		}
	}
}

.section-two {

	.section-block {
		position: relative;
		display: flex;
		justify-content: center;

		&__index-box {
			width: 14rem;
			height: 14rem;
			position: absolute;
			top: 25%;
			text-align: center;
			background-color: $color-violet-2;

			@include horizontalCenter;

			.underline--violet-light {
				color: $color-white;
				font-size: 2.4rem;

				@include absCenter;
				@include underline($color: $color-violet-light-2);
			}
		}

		.col-left {
			width: 50%;
			height: 50.8rem;

			&__img {
				width: 100%;
				height: 100%;
			}
		}

		.col-right {
			width: 50%;
			padding: 16rem 0 0 10rem;
			position: relative;

			&__text {
				font-size: 2rem;
				line-height: 1.5;
			}

			&__text-01{
				width: 42%;
			}

			&__text-02{
				width: 47%;
			}

			&__text-03{
				width: 60%;
			}

			&__underline--violet {
				font-size: 2.4rem;
				display: inline-block;
				color: transparent;
				position: absolute;
				bottom: 12%;
				left: 13%;

				@include underline($color: $color-violet-2);
			}
		}
	}
}
