.section-one {
	.slash {
		@include slash($width: 75rem, $top: 48%, $left: 4.3%, $color: $color-violet-light);

		@include respond(tab-port) {
			@include slash($width: 75rem, $top: 52%, $left: -34.7%, $color: $color-violet-light);
		}
	}

	.section-athletes {
		position: relative;

		.plus-box {
			top: 20%;
			left: 18%;

			@include respond(tab-port) {
				top: 15%;
				left: 4%;
			}

			&__sign--dark {
				top: .8rem;
				left: 2rem;
			}
		}

		.section-img {
			width: 58.7rem;
			height: 95.2rem;
			position: absolute;
			top: 12.8%;
			left: 11%;
			z-index: 1;

			@include respond(tab-port) {
				top: 16.8%;
				left: -22%;
			}
		}
	}

	.section-players {
		position: relative;

		.slash-one {
			@include slash($width: 40rem, $top: 60%, $left: 43%, $color: $color-violet-light);

			@include respond(tab-port) {
				top: 49%;
				left: 62%
			}
		}

		.slash-two {
			@include slash($width: 40rem, $top: 20%, $left: 70%, $color: $color-violet-light);

			@include respond(tab-port) {
				display: none;
			}
		}

		.plus-box {
			top: 10%;
			left: 53%;

			&-one {
				@include respond(tab-port) {
					top: 16%;
					left: 72%;
				}
			}

			&-two {
				top: 40%;
				left: 80%;

				@include respond(tab-port) {
					display: none;
				}
			}

			&__sign--light {
				top: 1.5rem;
				left: 2.5rem;
			}
		}

		.section-img {
			width: 90rem;
			height: 80rem;
			position: absolute;
			top: -3%;
			right: 5%;
			z-index: 1;

			@include respond(tab-port) {
				top: 5%;
				right: -37.5%;
			}
		}
	}

	.section-box {
		width: 100%;
		height: 23rem;
		position: relative;

		@include clearfix;

		&__background--grey {
			background-color: $color-grey;
		}

		&__background--violet {
			background-color: $color-violet-2;
		}

		&__background--violet-dark {
			background-color: $color-violet-dark-2;
		}

		.position-right {
			right: 0;
		}

		@include respond(tab-port) {
			.u-padding-right {
				padding-right: 21rem !important;
			}
		}

		@include respond(tab-port) {
			.u-padding-left {
				padding-left: 4rem !important;
			}
		}

		.section-sub {
			width: 45%;
			line-height: 1.5;
			position: relative;

			@include verticalCenter;

			@include respond(tab-port) {
				width: 65%;
			}

			.section__heading {
				padding-top: 6rem;
				letter-spacing: .5rem;

				@include respond(tab-port) {
					padding-top: 0;
					font-size: 8rem;
					position: absolute;
				}
			}

			.heading-box {
				position: relative;

				&__number {
					display: inline-block;
					font-size: 1.8rem;
					font-weight: 900;

					@include verticalCenter;

					&-text--violet {
						color: $color-violet-light;
					}
				}

				&__underline--violet {
					@include underline($color: $color-violet-2);
				}

				&__underline--white {
					@include underline($color: $color-white);
				}

				&__text {
					display: inline-block;
					font-size: 3.6rem;
					text-transform: uppercase;
					color: $color-grey-3;
					padding: 0 3rem;
				}
			}

			.content-box {

				&__content {
					font-size: 2rem;

					@include respond(tab-port) {
						font-size: 1.8rem;
					}

					&--white {
						color: $color-white;
					}
				}
			}
		}
	}
}

.section-two {

	.section-block {
		position: relative;
		display: flex;
		justify-content: center;

		@include respond(tab-port) {
			display: block;
		}

		.index-box {
			width: 14rem;
			height: 14rem;
			position: absolute;
			top: 25%;
			text-align: center;
			background-color: $color-violet-2;

			@include horizontalCenter;

			&__one {
				@include respond(tab-port) {
					top: 60%;
					left: 11%;
				}
			}

			&__two, &__three {
				@include respond(tab-port) {
					top: 56%;
					left: 11%;
				}
			}


			.underline--violet-light {
				color: $color-white;
				font-size: 2.4rem;

				@include absCenter;
				@include underline($color: $color-violet-light-2);
			}
		}

		.col-left {
			width: 50%;
			//height: 51rem;

			@include respond(tab-port) {
				width: 100%;
				display: block;
			}

			&__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.col-right {
			width: 50%;
			padding: 16rem 0 0 10rem;
			position: relative;

			@include respond(tab-port) {
				width: 100%;
				display: block;
				padding: 5rem 3rem 10rem;
			}

			@include respond(tab-port) {
				.u-margin-top-big{
					margin-top: 2rem !important;
				}
			}

			&__text {
				font-size: 2rem;
				line-height: 1.5;
			}

			&__text-01 {
				width: 42%;
			}

			&__text-02 {
				width: 47%;
			}

			&__text-03 {
				width: 60%;
			}

			&__underline--violet {
				font-size: 2.4rem;
				display: inline-block;
				color: transparent;
				position: absolute;
				bottom: 12%;
				left: 13%;

				@include underline($color: $color-violet-2);

				@include respond(tab-port) {
					bottom: 19%;
					left: 3.5%;
				}
			}
		}
	}
}
